body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3b6ad;
}
.container {
    position: relative;
}
.twins {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
    transition: 1s;
}

.twins:hover .card{
    transform: translateY(-200px);
}
.envelope {
  position: relative;
  width: 300px;
  height:260px;
  background-color: #e63b3b;
}
.envelope:before {
  background-color: #f08080;
  content:"";
  position: absolute;
  width: 212px;
  height: 212px;
  transform: rotate(45deg);
  top:-105px;
  left:44px;
  border-radius: 30px 0 0 0;
}
.card {
  position: absolute;
  background-color: #eae2b7;
  width:270px;
  height: 230px;
  top:10px;
  left: 15px;
  box-shadow: -5px -5px 100px rgba(0,0,0,0.4);
}
.card:before {
  content:"";
  position: absolute;
  border: 3px solid #003049;
  border-style: dotted;
  width:260px;
  height: 220px;
  left: 1px;
  top:1px;
}
.text {
  position: absolute;
  font-family: 'Lucida Handwriting', cursive;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  top:19px;
  left: 1px;
  color: #003049;
}
.heart {
  background-color: #d62828;
  display:inline-block;
  height: 30px;
  margin: 0 10px;
  position: relative;
  top: 55px;
  left: 130px;
  transform: rotate(-45deg);
  width: 30px;
}
.heart:before, .heart:after {
  content:"";
  background-color: #d62828;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
.heart:before{
  top:-15px;
  left:0;
}
.heart:after{
  left:15px;
  top:0;
}
.hearts {
  position: absolute;
  top:10px
}

@keyframes heart {
  0% {
    tranform: translateY(0) rotate(-45deg) scale(0.3);
    opacity: 1;
  }
  100%{
    transform: tanslateY(-150px) rotate(-45deg) scale(1.3);
    opacity: 0.5;
  }
}

.front{
  position: absolute;
  border-right: 180px solid #f4978e;
  border-top: 95px solid transparent;
  border-bottom: 160px solid transparent;
  left: 120px;
  top: 5px;
  width:0;
  height:0;
  z-index:10;
}
.front:before {
  position: absolute;
  content:"";
  border-left: 300px solid #f8ad9d;
  border-top: 260px solid transparent;
  left: -120px;
  top: -103px;
  width:0;
  height:0;
}
.shadow {
  position: absolute;
  width: 330px;
  height: 25px;
  border-radius: 50%;
  background-color:rgba(0,0,0,0.03),
  top 265px;
  left: -15px;
  z-index:-1;
  animation: scale 3s linear infinite;
}

@keyframes scale {
  0%, 100% {
    transform: scaleX(1);
  }
  50%{
    transform: scaleX(0.85);
  }
}

